<a href="https://colab.research.google.com/github/fergallocruz/DataScienceTools/blob/main/Ejercicio_de_Ordenamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from random import randint, choice

frutas= ["manzana", "pera","limon", "sandía", "plátano", "cereza"]
personas= ["Ana","Beto","Daniela", "Carlos", "Emmanuel", "Felipe", "Gloria"]

In [ ]:
db= [ (nombre, choice(frutas), randint(1,1000), randint(1,1000), randint(1,1000)) for nombre in personas ]

In [ ]:
db

[('Ana', 'cereza', 652, 559, 505),
 ('Beto', 'manzana', 965, 863, 320),
 ('Daniela', 'plátano', 956, 358, 474),
 ('Carlos', 'plátano', 600, 863, 494),
 ('Emmanuel', 'cereza', 330, 37, 810),
 ('Felipe', 'pera', 721, 1, 31),
 ('Gloria', 'cereza', 860, 256, 943)]

In [ ]:
categorias=["nombre", "fruta", "R1", "R2", "R3"]

In [ ]:
from dataclasses import dataclass

@dataclass
class Elemento:
    nombre: str
    fruta: str
    R1: int
    R2: int
    R3: int

datos= [ Elemento(*d) for d in db]
datos

[Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943)]

In [ ]:
sorted([10, 15, 20, 1, 4, 45, 8 ])

[1, 4, 8, 10, 15, 20, 45]

In [ ]:
sorted( ["animal", "casa", "zanahoria", "ambrusio", "caracol"] )

['ambrusio', 'animal', 'caracol', 'casa', 'zanahoria']

In [ ]:
sorted( [ (2,3), (8,7), (5,6), (2,1), (5,0) ] )

[(2, 1), (2, 3), (5, 0), (5, 6), (8, 7)]

In [ ]:
sorted( db )

[('Ana', 'cereza', 652, 559, 505),
 ('Beto', 'manzana', 965, 863, 320),
 ('Carlos', 'plátano', 600, 863, 494),
 ('Daniela', 'plátano', 956, 358, 474),
 ('Emmanuel', 'cereza', 330, 37, 810),
 ('Felipe', 'pera', 721, 1, 31),
 ('Gloria', 'cereza', 860, 256, 943)]

In [ ]:
def orden(lista):
    return lista[2]

sorted( db, key= orden)

[('Emmanuel', 'cereza', 330, 37, 810),
 ('Carlos', 'plátano', 600, 863, 494),
 ('Ana', 'cereza', 652, 559, 505),
 ('Felipe', 'pera', 721, 1, 31),
 ('Gloria', 'cereza', 860, 256, 943),
 ('Daniela', 'plátano', 956, 358, 474),
 ('Beto', 'manzana', 965, 863, 320)]

In [ ]:
def orden(elemento):
    return elemento.R1
sorted( datos, key=orden)

[Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474),
 Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320)]

In [ ]:
sorted (datos, key= lambda x: x.R1)

[Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474),
 Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320)]

In [ ]:
def orden(elemento):
    return elemento.fruta, elemento.R1

sorted (datos, key= orden)

[Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943),
 Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320),
 Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474)]

In [ ]:
sorted ( datos, key= lambda x: (x.fruta, x.R1) )

[Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943),
 Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320),
 Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474)]

In [ ]:
def orden(x):
    return x.R1+ x.R2 + x.R3

sorted( datos, key= orden)

[Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31),
 Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943),
 Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320)]

In [ ]:
def orden(x):
    return x.R1+ x.R2 + x.R3

sorted( datos, key= orden, reverse= True)

[Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320),
 Elemento(nombre='Gloria', fruta='cereza', R1=860, R2=256, R3=943),
 Elemento(nombre='Carlos', fruta='plátano', R1=600, R2=863, R3=494),
 Elemento(nombre='Daniela', fruta='plátano', R1=956, R2=358, R3=474),
 Elemento(nombre='Ana', fruta='cereza', R1=652, R2=559, R3=505),
 Elemento(nombre='Emmanuel', fruta='cereza', R1=330, R2=37, R3=810),
 Elemento(nombre='Felipe', fruta='pera', R1=721, R2=1, R3=31)]

In [ ]:
def orden(x):
    return x.R1+ x.R2 + x.R3

datos2= sorted( datos, key= orden, reverse= True)
datos2[0]

Elemento(nombre='Beto', fruta='manzana', R1=965, R2=863, R3=320)